.background2{
	background: url('https://s3-us-west-2.amazonaws.com/eventplanner/1-background.jpg');
	background-repeat: no-repeat;
	background-size:cover;
}
.background1{
	background: url('https://s3-us-west-2.amazonaws.com/eventplanner/greybackground.jpg');
	background-repeat: no-repeat;
	background-size:cover;
}
.transparent{
	opacity: 0.9;
    filter: alpha(opacity=90)
}
.nontransparent{
	opacity: 1;
    filter: alpha(opacity=100)
}